Repository bounswe/bounswe2022group5, pull requests merged in 2022-11, with the labels that each got.

#291 post CRUD operations initially implemented
  app/backend/backend/pagination.py
  app/backend/backend/settings.py
  app/backend/backend/urls.py
  app/backend/forum/__init__.py
  app/backend/forum/admin.py
  app/backend/forum/apps.py
  app/backend/forum/migrations/0001_initial.py
  app/backend/forum/migrations/0002_alter_comment_date_alter_post_date.py
  app/backend/forum/migrations/__init__.py
  app/backend/forum/models.py
  app/backend/forum/serializers.py
  app/backend/forum/tests.py
  app/backend/forum/urls.py
  app/backend/forum/views.py
Labels: Prio: Medium, Type: To Do, Status: In Progress, Team: Backend

#298 [Backend] Code Refactor
  app/backend/authentication/models.py
  app/backend/authentication/serializers.py
  app/backend/backend/utils.py
  app/backend/tests/test_models.py
Labels: Team: Backend, Code refactor

#300 [Backend] Create post without image urls #299
  app/backend/forum/views.py
Labels: Type: Bug, Team: Backend

#307 [Backend] S3 Integration
  app/backend/backend/settings.py
  app/backend/common/__init__.py
  app/backend/common/apps.py
  app/backend/common/migrations/__init__.py
  app/backend/common/views.py
  app/backend/requirements.txt
Labels: Team: Backend

#304 Articles endpoints and tests were implemented
  app/backend/articles/__init__.py
  app/backend/articles/admin.py
  app/backend/articles/apps.py
  app/backend/articles/migrations/0001_initial.py
  app/backend/articles/migrations/__init__.py
  app/backend/articles/models.py
  app/backend/articles/serializers.py
  app/backend/articles/tests.py
  app/backend/articles/urls.py
  app/backend/articles/views.py
  app/backend/backend/settings.py
  app/backend/backend/urls.py
Labels: Prio: High, Type: To Do, Status: Need Review, Team: Backend

#311 Authentication APIs revised
  app/backend/authentication/serializers.py
  app/backend/authentication/views.py
  app/backend/backend/migrations/0002_customuser_date_of_birth.py
  app/backend/backend/migrations/0003_remove_doctor_customuser_ptr_and_more.py
  app/backend/backend/migrations/0004_customadmin_report_member_doctor.py
  app/backend/backend/models.py
  app/backend/forum/views.py
  app/backend/tests/test_models.py
  app/backend/tests/test_views.py
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Backend, Code refactor

#296 [Mobile] Initial implementations of "create post" and "create article" pages #294
  app/mobile/bounswe5_mobile/android/app/build.gradle
  app/mobile/bounswe5_mobile/android/app/src/main/AndroidManifest.xml
  app/mobile/bounswe5_mobile/lib/main.dart
  app/mobile/bounswe5_mobile/lib/screens/createArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/createPost.dart
  app/mobile/bounswe5_mobile/pubspec.lock
  app/mobile/bounswe5_mobile/pubspec.yaml
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#314 Backend/feature/vote endpoints for article #312
  app/backend/articles/tests.py
  app/backend/articles/urls.py
  app/backend/articles/views.py
Labels: Prio: Medium, Type: To Do, Status: Need Review, Team: Backend

#315 [Backend] Profile pictures on S3 for doctors
  app/backend/articles/migrations/0001_initial.py
  app/backend/articles/models.py
  app/backend/authentication/serializers.py
  app/backend/backend/migrations/0001_initial.py
  app/backend/backend/migrations/0002_customuser_date_of_birth.py
  app/backend/backend/migrations/0003_remove_doctor_customuser_ptr_and_more.py
  app/backend/backend/migrations/0004_customadmin_report_member_doctor.py
  app/backend/backend/models.py
  app/backend/backend/settings.py
  app/backend/backend/urls.py
  app/backend/common/migrations/__init__.py
  app/backend/common/views.py
  app/backend/forum/migrations/0001_initial.py
  app/backend/forum/migrations/0002_alter_comment_date_alter_post_date.py
  app/backend/user_profile/__init__.py
  app/backend/user_profile/apps.py
  app/backend/user_profile/urls.py
  app/backend/user_profile/views.py
Labels: Type: Enhancement, Team: Backend

#321 [Backend] Vote endpoints for Posts
  app/backend/forum/tests.py
  app/backend/forum/urls.py
  app/backend/forum/views.py
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Backend

#328 [Backend] Comment voting endpoints added
  app/backend/backend/settings.py
  app/backend/forum/serializers.py
  app/backend/forum/tests.py
  app/backend/forum/urls.py
  app/backend/forum/views.py
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Backend

#325 [Mobile] Articles home page is created
  app/mobile/bounswe5_mobile/lib/mockData.dart
  app/mobile/bounswe5_mobile/lib/models/article.dart
  app/mobile/bounswe5_mobile/lib/models/doctor.dart
  app/mobile/bounswe5_mobile/lib/models/member.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticleItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticlesList.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#333 [Backend] Getting all posts of a user
  app/backend/forum/urls.py
  app/backend/forum/views.py
Labels: Type: Enhancement, Team: Backend

#335 [Backend] Getting upvotes (post) of a user
  app/backend/user_profile/urls.py
  app/backend/user_profile/views.py
Labels: Type: Enhancement, Team: Backend

#326 [Mobile] Post viewing page and article viewing page have been implemented
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#337 [Backend] Getting upvotes (articles) of a user
  app/backend/user_profile/urls.py
  app/backend/user_profile/views.py
Labels: Type: Enhancement, Team: Backend

#339 [Mobile] App theme has been updated
  app/mobile/bounswe5_mobile/lib/main.dart
  app/mobile/bounswe5_mobile/lib/mockData.dart
  app/mobile/bounswe5_mobile/lib/models/post.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/screens/login.dart
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticleItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticlesList.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumPostItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/MyDrawer.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#345 [Mobile] Change in model structure to have a single User class
  app/mobile/bounswe5_mobile/lib/mockData.dart
  app/mobile/bounswe5_mobile/lib/models/article.dart
  app/mobile/bounswe5_mobile/lib/models/category.dart
  app/mobile/bounswe5_mobile/lib/models/doctor.dart
  app/mobile/bounswe5_mobile/lib/models/member.dart
  app/mobile/bounswe5_mobile/lib/models/post.dart
  app/mobile/bounswe5_mobile/lib/models/user.dart
Labels: Type: Bug, Prio: Medium, Status: Need Review, Team: Mobile

#344 Backend/feature/general fixes #338
  app/backend/articles/migrations/0002_articleimages.py
  app/backend/articles/migrations/0003_rename_post_articleimages_article.py
  app/backend/articles/models.py
  app/backend/articles/views.py
  app/backend/authentication/views.py
  app/backend/backend/migrations/0002_customuser_downvoted_articles_and_more.py
  app/backend/backend/migrations/0003_doctor_document.py
  app/backend/backend/models.py
  app/backend/backend/settings.py
  app/backend/forum/migrations/0002_post_latitude_post_longitude.py
  app/backend/forum/migrations/0003_comment_latitude_comment_longitude.py
  app/backend/forum/migrations/0004_post_commented_by_doctor.py
  app/backend/forum/models.py
  app/backend/forum/serializers.py
  app/backend/forum/urls.py
  app/backend/forum/views.py
  app/backend/user_profile/urls.py
  app/backend/user_profile/views.py
Labels: Type: Bug, Prio: High, Type: To Do, Type: Enhancement, Status: In Progress, Team: Backend

#348 voting info added to post and comments
  app/backend/forum/views.py
Labels: Prio: Low, Type: Enhancement, Status: Need Review, Team: Backend

#346 [Mobile] Creating initial pages of activity history and edit profile
  app/mobile/bounswe5_mobile/lib/screens/comments.dart
  app/mobile/bounswe5_mobile/lib/screens/editprofile.dart
  app/mobile/bounswe5_mobile/lib/screens/posts.dart
  app/mobile/bounswe5_mobile/lib/screens/profile.dart
  app/mobile/bounswe5_mobile/lib/screens/upvotes.dart
  app/mobile/bounswe5_mobile/lib/widgets/ProfileListItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/ProfileWidget.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#350 Mobile/feature/create post article api calls#330
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/screens/createArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/createPost.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/pubspec.lock
  app/mobile/bounswe5_mobile/pubspec.yaml
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#351 [Mobile] KVKK and Document Upload for Signup added
  app/mobile/bounswe5_mobile/lib/screens/signup.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#347 [Mobile] Floating action button for post/article creation is implemented
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/models/user.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
Labels: Type: Bug, Prio: Medium, Status: Need Review, Team: Mobile
