Repository bounswe/bounswe2022group5, pull requests merged in 2022-10, with the labels that each got.

#189 Initial directory structure for the app is created.
  .gitignore
  README.md
  app/README.md
  app/backend/README.md
  app/backend/backend/__init__.py
  app/backend/backend/asgi.py
  app/backend/backend/settings.py
  app/backend/backend/urls.py
  app/backend/backend/wsgi.py
  app/backend/manage.py
  app/frontend/.gitignore
  app/frontend/README.md
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/public/favicon.ico
  app/frontend/public/index.html
  app/frontend/public/manifest.json
  app/frontend/public/robots.txt
  app/frontend/src/App.css
  app/frontend/src/App.js
  app/frontend/src/App.test.js
  app/frontend/src/index.css
  app/frontend/src/index.js
  app/frontend/src/layouts/HomePage/HomePage.css
  app/frontend/src/layouts/HomePage/HomePage.js
  app/frontend/src/logo.svg
  app/frontend/src/pages/Login/Login.css
  app/frontend/src/pages/Login/Login.js
  app/frontend/src/pages/Login/doctor.webp
  app/frontend/src/pages/SignUp/SignUp.css
  app/frontend/src/pages/SignUp/SignUp.js
  app/frontend/src/pages/SignUp/doctor.webp
  app/frontend/src/reportWebVitals.js
  app/frontend/src/setupTests.js
  app/mobile/README.md
Labels: High Priority, Type: Enhancement, Status: Need Review

#208 Authentication Module Created
  app/backend/authentication/__init__.py
  app/backend/authentication/admin.py
  app/backend/authentication/apps.py
  app/backend/authentication/migrations/__init__.py
  app/backend/authentication/models.py
  app/backend/authentication/tests.py
  app/backend/authentication/urls.py
  app/backend/authentication/views.py
  app/backend/backend/settings.py
  app/backend/backend/urls.py
Labels: High Priority, Type: To Do, Status: In Progress, Backend

#212 Mobile Home Screen is Created
  .gitignore
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumList.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumPostItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/MyDrawer.dart
Labels: Prio: Medium, Type: Enhancement, Team: Mobile

#215 Mobile/feature/sign up screen #193
  app/mobile/bounswe5_mobile/lib/screens/signup.dart
  app/mobile/bounswe5_mobile/pubspec.yaml
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#211 token auth and initial authentication
  app/backend/authentication/permissions.py
  app/backend/authentication/serializers.py
  app/backend/authentication/urls.py
  app/backend/authentication/views.py
  app/backend/backend/migrations/0001_initial.py
  app/backend/backend/migrations/0002_remove_member_avatar_alter_member_banned_by.py
  app/backend/backend/migrations/0003_alter_memberinfo_height.py
  app/backend/backend/migrations/0004_alter_admin_username_alter_category_name_and_more.py
  app/backend/backend/migrations/0005_report_date_report_reviewed_date.py
  app/backend/backend/migrations/0006_alter_memberinfo_firstname_alter_memberinfo_lastname.py
  app/backend/backend/models.py
  app/backend/backend/settings.py
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Backend

#219 login and signup endpoints finished
  app/backend/authentication/serializers.py
  app/backend/authentication/urls.py
  app/backend/authentication/views.py
  app/backend/backend/models.py
  app/backend/requirements.txt
  app/backend/tests/test_models.py
  app/backend/tests/test_views.py
Labels: Prio: High, Type: To Do, Status: In Progress, Team: Backend

#222 Branch field is added for doctor sign-up.
  app/mobile/bounswe5_mobile/lib/screens/signup.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#226 Mobile: Login Page initial design codes
  app/mobile/bounswe5_mobile/lib/screens/login.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#230 Mobile screens are connected
  app/mobile/bounswe5_mobile/ios/Flutter/Debug.xcconfig
  app/mobile/bounswe5_mobile/ios/Flutter/Release.xcconfig
  app/mobile/bounswe5_mobile/ios/Podfile
  app/mobile/bounswe5_mobile/ios/Podfile.lock
  app/mobile/bounswe5_mobile/ios/Runner.xcodeproj/project.pbxproj
  app/mobile/bounswe5_mobile/ios/Runner.xcworkspace/contents.xcworkspacedata
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/screens/login.dart
  app/mobile/bounswe5_mobile/lib/screens/profile.dart
  app/mobile/bounswe5_mobile/lib/screens/signup.dart
  app/mobile/bounswe5_mobile/lib/widgets/MyDrawer.dart
  app/mobile/bounswe5_mobile/pubspec.lock
Labels: Prio: High, Type: Enhancement, Status: Accepted, Team: Mobile

#239 Cors headers added
  app/backend/authentication/views.py
  app/backend/backend/settings.py
  app/backend/requirements.txt
Labels: Type: Bug, Prio: High, Type: To Do, Status: Accepted, Team: Backend

#242 Me endpoint added
  app/backend/authentication/urls.py
  app/backend/authentication/views.py
  app/backend/tests/test_views.py
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Backend

#249 [Frontend] Navigation Bar as an upper layout added.
  app/frontend/src/layouts/NavBar/NavBar.css
  app/frontend/src/layouts/NavBar/NavBar.js
Labels: Prio: Medium, Status: Need Review, Team: Frontend

#243 article cards are added.
  app/frontend/src/layouts/Article/Article.css
  app/frontend/src/layouts/Article/Article.js
Labels: Prio: Medium, Type: To Do, Status: Need Review, Team: Frontend

#244 API service class is added to the mobile app
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/pubspec.lock
  app/mobile/bounswe5_mobile/pubspec.yaml
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#252 Login and Signup Pages are implemented in Frontend
  app/frontend/Dockerfile
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/helpers/Auth.js
  app/frontend/src/index.js
  app/frontend/src/layouts/HomePage/HomePage.js
  app/frontend/src/logo.svg
  app/frontend/src/pages/Login/Login.css
  app/frontend/src/pages/Login/Login.js
  app/frontend/src/pages/SignUp/SignUp.css
  app/frontend/src/pages/SignUp/SignUp.js
  app/frontend/src/redux/store.js
  app/frontend/src/redux/userSlice.js
  app/frontend/src/reportWebVitals.js
  app/frontend/src/setupTests.js
Labels: Prio: Medium, Status: Need Review, Team: Frontend

#257 [Frontend] Created Homepage Layout with Posts And Articles in it.
  app/frontend/src/layouts/HomePage/HomePage.css
  app/frontend/src/layouts/HomePage/HomePage.js
  app/frontend/src/layouts/HomePage/HomepageBackground.jpg
Labels: Prio: Medium, Type: Enhancement, Team: Frontend

#255 Register API call for mobile is handled
  app/mobile/bounswe5_mobile/lib/screens/signup.dart
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#259 [Frontend] Aligned Forum and Articles pages in the Homepage.
  app/frontend/src/layouts/Article/Article.css
  app/frontend/src/layouts/Forum/Forum.css
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Frontend

#267 [Frontend] Create Post button hide whenever user not logged in.
  app/frontend/src/layouts/Article/Article.js
  app/frontend/src/layouts/HomePage/HomePage.js
Labels: Prio: High, Type: Enhancement, Team: Frontend

#269 [Mobile] Updating home page to use API services.
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/assets/images/generic_user.jpg
  app/mobile/bounswe5_mobile/lib/models/post.dart
  app/mobile/bounswe5_mobile/lib/models/user.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumList.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumPostItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/MyDrawer.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#270 [Mobile] Adding symbols and error messages when giving unwanted inputs in Login page
  app/mobile/bounswe5_mobile/lib/screens/login.dart
Labels: Prio: Low, Type: Enhancement, Status: Need Review, Team: Mobile

#272 [Mobile] Handling API requests and returning necessary token to home page.
  app/mobile/bounswe5_mobile/lib/screens/login.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#273 Mobile/feature/profile #207
  app/mobile/bounswe5_mobile/lib/screens/profile.dart
  app/mobile/bounswe5_mobile/lib/widgets/ProfileListItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/ProfileName.dart
  app/mobile/bounswe5_mobile/lib/widgets/ProfileWidget.dart
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#278 Login pages being on top of each other after sign-up is fixed
  app/mobile/bounswe5_mobile/lib/screens/signup.dart
Labels: Type: Bug, Prio: Low, Status: Need Review, Team: Mobile

#280 [Mobile] Drawer head in the Home page is updated
  app/mobile/bounswe5_mobile/lib/widgets/MyDrawer.dart
Labels: Type: Bug, Prio: Low, Status: Need Review, Team: Mobile

#282 [Mobile] Minor bug-fixes in the login page and AndroidManifest.xml
  app/mobile/bounswe5_mobile/android/app/src/main/AndroidManifest.xml
  app/mobile/bounswe5_mobile/lib/screens/login.dart
Labels: Type: Bug, Prio: Medium, Status: Need Review, Team: Mobile
