Repository bounswe/bounswe2022group5, pull requests merged in 2022-12, with the labels that each got.

#349 [Frontend] Discussion Thread Page is Implemented
  app/frontend/src/App.js
  app/frontend/src/components/Vote/Vote.css
  app/frontend/src/components/Vote/Vote.js
  app/frontend/src/pages/Post/CommentEditor.js
  app/frontend/src/pages/Post/Post.css
  app/frontend/src/pages/Post/Post.js
  app/frontend/src/pages/SignUp/SignUp.js
  app/frontend/src/redux/commentSlice.js
  app/frontend/src/redux/postSlice.js
  app/frontend/src/redux/userSlice.js
  app/frontend/src/redux/voteSlice.js
  app/frontend/yarn.lock
Labels: Prio: Medium, Status: Need Review, Team: Frontend

#354 [Mobile] Singup is finalized
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/screens/signup.dart
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#356 [Frontend] Profile Page Implementation
  app/frontend/src/App.js
  app/frontend/src/layouts/Article/Article.js
  app/frontend/src/layouts/Forum/Forum.js
  app/frontend/src/layouts/HomePage/HomePage.js
  app/frontend/src/pages/Profile/Profile.css
  app/frontend/src/pages/Profile/Profile.js
  app/frontend/src/redux/articleSlice.js
  app/frontend/src/redux/postSlice.js
Labels: Prio: Medium, Type: To Do, Status: Need Review, Team: Frontend

#355 [Backend] Get a doctor's all articles
  app/backend/articles/urls.py
  app/backend/articles/views.py
Labels: Type: Enhancement, Team: Backend

#357 [Backend] Get, Update Personal Info Implementation
  app/backend/user_profile/tests.py
  app/backend/user_profile/urls.py
  app/backend/user_profile/views.py
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Backend

#372 [Frontend] Adding buttons in the Homepage and Navbar
  app/frontend/src/layouts/HomePage/HomePage.css
  app/frontend/src/layouts/HomePage/HomePage.js
  app/frontend/src/layouts/NavBar/NavBar.css
  app/frontend/src/layouts/NavBar/NavBar.js
  app/frontend/src/layouts/NavBar/logo.png
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Frontend

#373 [Frontend] Creating "Article Creation" Page.
  app/frontend/src/App.js
  app/frontend/src/pages/CreateArticle/CreateArticle.css
  app/frontend/src/pages/CreateArticle/CreateArticle.js
  app/frontend/src/pages/CreateArticle/createArticleBackground.jpg
  app/frontend/src/redux/articleSlice.js
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Frontend

#377 [Frontend] Creating "Post Creation" Page.
  app/frontend/package.json
  app/frontend/src/App.js
  app/frontend/src/pages/CreatePost/CreatePost.css
  app/frontend/src/pages/CreatePost/CreatePost.js
  app/frontend/src/pages/CreatePost/createPostBackground.jpg
  app/frontend/src/redux/postSlice.js
  app/frontend/yarn.lock
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Frontend

#378 Backend/feature/response formatting #366
  app/backend/articles/views.py
  app/backend/authentication/views.py
  app/backend/forum/migrations/0005_alter_comment_latitude_alter_comment_longitude_and_more.py
  app/backend/forum/models.py
  app/backend/forum/serializers.py
  app/backend/forum/urls.py
  app/backend/forum/views.py
  app/backend/user_profile/urls.py
  app/backend/user_profile/views.py
Labels: Prio: High, Status: In Progress, Prio: Urgent, Team: Backend

#379 [Backend ]hotfix for last mr
  app/backend/user_profile/views.py
Labels: Type: Bug, Prio: High, Status: Need Review, Team: Backend

#375 [Frontend] Adding Geolocation Functionality for Discussion Thread Page
  app/frontend/public/index.html
  app/frontend/src/helpers/Auth.js
  app/frontend/src/pages/Post/CommentEditor.js
  app/frontend/src/pages/Post/Post.css
  app/frontend/src/pages/Post/Post.js
  app/frontend/src/pages/SignUp/SignUp.js
  app/frontend/src/redux/userSlice.js
Labels: Prio: Medium, Status: Need Review, Team: Frontend

#381 Backend/feature/response formatting #366
  app/backend/articles/migrations/0004_article_labels.py
  app/backend/articles/models.py
  app/backend/articles/views.py
  app/backend/authentication/views.py
  app/backend/backend/migrations/0004_label.py
  app/backend/backend/models.py
  app/backend/backend/settings.py
  app/backend/forum/migrations/0006_alter_post_date.py
  app/backend/forum/migrations/0007_alter_post_date.py
  app/backend/forum/migrations/0008_alter_comment_date_alter_post_date.py
  app/backend/forum/migrations/0009_alter_comment_date_alter_post_date.py
  app/backend/forum/migrations/0010_post_labels.py
  app/backend/forum/models.py
  app/backend/forum/serializers.py
  app/backend/forum/views.py
  app/backend/user_profile/views.py
Labels: Prio: High, Type: Enhancement, Status: In Progress, Team: Backend

#380 [Mobile] Necessary page connections in the home page have been implemented
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/main.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticleItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticlesList.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumList.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumPostItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/MyDrawer.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#384 Editing functionality to profile page
  app/frontend/src/components/Popup/Popup.css
  app/frontend/src/components/Popup/Popup.js
  app/frontend/src/layouts/Article/Article.js
  app/frontend/src/layouts/Forum/Forum.js
  app/frontend/src/pages/Profile/Profile.css
  app/frontend/src/pages/Profile/Profile.js
  app/frontend/src/redux/articleSlice.js
  app/frontend/src/redux/commentSlice.js
  app/frontend/src/redux/profileSlice.js
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Frontend

#390 [Mobile] ViewPostPage bug fixes
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#389 [Mobile] Drawer has been updated. getUserInfo API function is redesigned.
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/mockData.dart
  app/mobile/bounswe5_mobile/lib/models/memberInfo.dart
  app/mobile/bounswe5_mobile/lib/models/user.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/widgets/MyDrawer.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#394 [Mobile] ViewPostPage dropdowns have been added
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#392 [Frontend] Implementing Article Display Page
  app/frontend/src/App.js
  app/frontend/src/components/Vote/Vote.js
  app/frontend/src/pages/Article/Article.css
  app/frontend/src/pages/Article/Article.js
  app/frontend/src/pages/Post/Post.js
  app/frontend/src/redux/articleSlice.js
Labels: Prio: Medium, Status: Need Review, Team: Frontend

#396 [Mobile] ViewArticlePage dropdown has been added
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticleItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticlesList.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#395 [Mobile] Create post and create article are revised
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/screens/createArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/createPost.dart
  app/mobile/bounswe5_mobile/pubspec.lock
  app/mobile/bounswe5_mobile/pubspec.yaml
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#398 [Mobile] Edit Page
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/screens/comments.dart
  app/mobile/bounswe5_mobile/lib/screens/editprofile.dart
  app/mobile/bounswe5_mobile/lib/screens/posts.dart
  app/mobile/bounswe5_mobile/lib/screens/profile.dart
  app/mobile/bounswe5_mobile/lib/screens/upvotes.dart
  app/mobile/bounswe5_mobile/lib/widgets/ProfileWidget.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#400 [Mobile] Home page now gets posts and articles from the backend.
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/mockData.dart
  app/mobile/bounswe5_mobile/lib/models/article.dart
  app/mobile/bounswe5_mobile/lib/models/label.dart
  app/mobile/bounswe5_mobile/lib/models/post.dart
  app/mobile/bounswe5_mobile/lib/screens/articleOverviewScreen.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/screens/postOverviewScreen.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticleItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticlesList.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumList.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumPostItem.dart
Labels: Type: Enhancement, Status: Need Review, Prio: Urgent, Team: Mobile

#403 [Backend] Category and Labels added to system with fundamantal functionalities
  app/backend/articles/migrations/0005_article_category.py
  app/backend/articles/models.py
  app/backend/articles/serializers.py
  app/backend/articles/views.py
  app/backend/authentication/views.py
  app/backend/docker-compose.yml
  app/backend/forum/migrations/0011_post_category.py
  app/backend/forum/models.py
  app/backend/forum/serializers.py
  app/backend/forum/urls.py
  app/backend/forum/views.py
  app/backend/user_profile/views.py
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Backend

#405 [Frontend] Profile Page Last Touches
  app/frontend/src/layouts/NavBar/NavBar.js
  app/frontend/src/pages/Login/Login.js
  app/frontend/src/pages/Profile/Profile.js
  app/frontend/src/redux/profileSlice.js
  app/frontend/src/redux/userSlice.js
Labels: Type: Bug, Prio: High, Status: Need Review, Team: Frontend

#408 [Mobile] Show a single post/article by fetching them from backend
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/main.dart
  app/mobile/bounswe5_mobile/lib/mockData.dart
  app/mobile/bounswe5_mobile/lib/models/article.dart
  app/mobile/bounswe5_mobile/lib/models/comment.dart
  app/mobile/bounswe5_mobile/lib/models/post.dart
  app/mobile/bounswe5_mobile/lib/models/user.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/screens/postOverviewScreen.dart
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
  app/mobile/bounswe5_mobile/lib/widgets/MyDrawer.dart
  app/mobile/bounswe5_mobile/pubspec.yaml
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#407 [Frontend] Category button and Post-Article cards
  app/frontend/src/layouts/Article/Article.js
  app/frontend/src/layouts/Forum/Forum.js
  app/frontend/src/pages/CreatePost/CreatePost.js
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Frontend

#410 Necessary fixes have been implemented.
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
Labels: Type: Bug, Prio: Medium, Status: Need Review, Team: Mobile

#415 [Mobile] Upvote/Downvote Implemented
  app/mobile/bounswe5_mobile/lib/screens/createArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/createComment.dart
  app/mobile/bounswe5_mobile/lib/screens/createPost.dart
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticleItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumPostItem.dart
  app/mobile/bounswe5_mobile/pubspec.lock
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#418 [Mobile] Showing HTML has been implemented.
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumPostItem.dart
  app/mobile/bounswe5_mobile/pubspec.yaml
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#417 [Frontend] Label Functionality Implementation
  app/frontend/src/components/Vote/Vote.js
  app/frontend/src/pages/CreatePost/CreatePost.js
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Frontend

#414 [Frontend] Voting disabled for guest user
  app/frontend/src/components/Vote/Vote.js
Labels: Type: Bug, Prio: High, Status: Need Review, Team: Frontend

#419 [Mobile] Post/Article Delete Implemented
  app/mobile/bounswe5_mobile/lib/main.dart
  app/mobile/bounswe5_mobile/lib/screens/createArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/createPost.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/screens/login.dart
  app/mobile/bounswe5_mobile/lib/screens/signup.dart
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#420 [Mobile] Updating post page after new comment
  app/mobile/bounswe5_mobile/lib/screens/createComment.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
Labels: Prio: Low, Type: Enhancement, Status: Need Review, Team: Mobile

#427 [Mobile] Comments Activity History
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/screens/articles.dart
  app/mobile/bounswe5_mobile/lib/screens/comments.dart
  app/mobile/bounswe5_mobile/lib/screens/editprofile.dart
  app/mobile/bounswe5_mobile/lib/screens/posts.dart
  app/mobile/bounswe5_mobile/lib/screens/userCommentsOverviewScreen.dart
  app/mobile/bounswe5_mobile/lib/widgets/ProfileName.dart
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#424 [Frontend] Additions to the profile page
  app/frontend/src/components/Popup/Popup.css
  app/frontend/src/pages/Profile/Profile.js
Labels: Prio: Low, Type: Enhancement, Status: Need Review, Team: Frontend

#435 Backend/feature/refactoring #434
  app/backend/articles/views.py
  app/backend/forum/views.py
Labels: Prio: Medium, Status: In Progress, Team: Backend, Code refactor

#432 [Backend] Personal Info API Bugfix
  app/backend/user_profile/views.py
Labels: Type: Bug, Prio: Medium, Status: Need Review, Team: Backend

#437 [Backend] Category Follow Implementation
  app/backend/backend/migrations/0005_customuser_followed_categories.py
  app/backend/backend/models.py
  app/backend/user_profile/tests.py
  app/backend/user_profile/urls.py
  app/backend/user_profile/views.py
Labels: Prio: Medium, Status: Need Review, Team: Backend

#444 [Backend] Registration Bugfix
  app/backend/backend/migrations/0006_alter_customuser_downvoted_articles_and_more.py
  app/backend/backend/models.py
Labels: Type: Bug, Team: Backend

#442 [Backend] Followed Categories Endpoint
  app/backend/user_profile/tests.py
  app/backend/user_profile/urls.py
  app/backend/user_profile/views.py
Labels: Prio: Medium, Status: Need Review, Team: Backend

#446 [Backend] Search query simplified
  app/backend/forum/views.py
Labels: Team: Backend, Code refactor

#449 [Frontend] Following and Unfollowing Categories
  app/frontend/src/components/Popup/Popup.css
  app/frontend/src/layouts/HomePage/HomePage.css
  app/frontend/src/layouts/HomePage/HomePage.js
  app/frontend/src/redux/categorySlice.js
Labels: Prio: Medium, Type: To Do, Status: Need Review, Team: Frontend

#454 [Backend] Annotation Data Model and Endpoints
  app/backend/annotation/__init__.py
  app/backend/annotation/admin.py
  app/backend/annotation/annotation_schema.py
  app/backend/annotation/apps.py
  app/backend/annotation/migrations/0001_initial.py
  app/backend/annotation/migrations/0002_rename_date_textannotation_date_created_and_more.py
  app/backend/annotation/migrations/0003_textannotation_author_link.py
  app/backend/annotation/migrations/0004_textannotation_display_name.py
  app/backend/annotation/migrations/0005_imageannotation.py
  app/backend/annotation/migrations/0006_textannotation_date_modified_and_more.py
  app/backend/annotation/migrations/0007_imageannotation_date_modified_and_more.py
  app/backend/annotation/migrations/__init__.py
  app/backend/annotation/models.py
  app/backend/annotation/tests.py
  app/backend/annotation/urls.py
  app/backend/annotation/views.py
  app/backend/backend/settings.py
  app/backend/backend/urls.py
  app/backend/requirements.txt
Labels: Prio: High, Type: To Do, Status: In Progress, Team: Backend

#450 [Backend] Post search based on distance
  app/backend/forum/views.py
Labels: Type: Enhancement, Team: Backend

#463 [Backend] Bookmark a Post implementation
  app/backend/backend/migrations/0007_customuser_bookmarked_posts.py
  app/backend/backend/models.py
  app/backend/forum/tests.py
  app/backend/forum/urls.py
  app/backend/forum/views.py
  app/backend/user_profile/tests.py
  app/backend/user_profile/urls.py
  app/backend/user_profile/views.py
Labels: Prio: Medium, Status: Need Review, Team: Backend

#468 [Backend] Fetching Upvoted Articles and Post by User Id
  app/backend/articles/views.py
  app/backend/forum/views.py
  app/backend/user_profile/tests.py
  app/backend/user_profile/views.py
Labels: Prio: High, Type: Enhancement, Status: In Progress, Team: Backend

#470 [Backend] Annotation Bugfix
  app/backend/annotation/annotation_schema.py
  app/backend/annotation/views.py
Labels: Type: Bug, Prio: Low, Status: In Progress, Team: Backend

#472 [Backend] Bookmark an Article
  app/backend/articles/tests.py
  app/backend/articles/urls.py
  app/backend/articles/views.py
  app/backend/backend/migrations/0008_customuser_bookmarked_articles.py
  app/backend/backend/models.py
  app/backend/user_profile/tests.py
  app/backend/user_profile/urls.py
  app/backend/user_profile/views.py
Labels: Prio: Medium, Status: Need Review, Team: Backend

#474 [Mobile] Category label's for post and article
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#477 [Backend] Trivial PR for Unclosed PR (Exlanation)
  app/backend/articles/views.py
  app/backend/forum/views.py
Labels: Type: Documentation, Prio: High, Status: Accepted, Team: Backend

#481 [Frontend] Implementing Backend Connections for Annotation Functionalities
  app/frontend/package.json
  app/frontend/src/pages/Article/Article.css
  app/frontend/src/pages/Article/Article.js
  app/frontend/src/pages/Post/Post.css
  app/frontend/src/pages/Post/Post.js
  app/frontend/src/redux/annotationSlice.js
  app/frontend/yarn.lock
Labels: Prio: Medium, Status: Need Review, Team: Frontend

#482 [Frontend] Doctor Profile Pages
  app/frontend/src/App.js
  app/frontend/src/layouts/Forum/Forum.js
  app/frontend/src/layouts/HomePage/HomePage.js
  app/frontend/src/pages/Article/Article.js
  app/frontend/src/pages/Post/Post.js
  app/frontend/src/pages/Profile/Profile.js
  app/frontend/src/redux/profileSlice.js
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Frontend

#486 [Frontend] Ontology suggestion labels and UI fix
  app/frontend/src/components/Popup/Popup.css
  app/frontend/src/layouts/HomePage/HomePage.css
  app/frontend/src/layouts/HomePage/HomePage.js
  app/frontend/src/pages/Post/Post.js
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Frontend

#487 [Mobile] Search functionality implemented
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/screens/articleSearchByCategory.dart
  app/mobile/bounswe5_mobile/lib/screens/articleSearchByKeyword.dart
  app/mobile/bounswe5_mobile/lib/screens/articleSearchByName.dart
  app/mobile/bounswe5_mobile/lib/screens/articleSearchOverview.dart
  app/mobile/bounswe5_mobile/lib/screens/articleSearchResults.dart
  app/mobile/bounswe5_mobile/lib/screens/createArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/createPost.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/screens/postSearchByCategory.dart
  app/mobile/bounswe5_mobile/lib/screens/postSearchByGeolocation.dart
  app/mobile/bounswe5_mobile/lib/screens/postSearchByKeyword.dart
  app/mobile/bounswe5_mobile/lib/screens/postSearchByName.dart
  app/mobile/bounswe5_mobile/lib/screens/postSearchOverview.dart
  app/mobile/bounswe5_mobile/lib/screens/postSearchResults.dart
  app/mobile/bounswe5_mobile/lib/screens/searchArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/searchPage.dart
  app/mobile/bounswe5_mobile/lib/screens/searchPost.dart
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#485 [Backend] Semantic Search for Labels and Other Search Features
  app/backend/forum/migrations/0012_post_related_labels.py
  app/backend/forum/models.py
  app/backend/forum/views.py
  app/backend/semantic_search.py
Labels: Type: Research, Prio: High, Type: Enhancement, Status: In Progress, Team: Backend

#494 [Backend] Delete account function
  app/backend/requirements.txt
  app/backend/user_profile/tests.py
  app/backend/user_profile/urls.py
  app/backend/user_profile/views.py
Labels: Prio: Medium, Status: Need Review, Team: Backend

#498 [Backend] Get All Posts Bug
  app/backend/forum/views.py
Labels: Type: Bug, Team: Backend

#497 [Frontend] Post Deletion implemented
  app/frontend/src/components/Delete/Delete.css
  app/frontend/src/components/Delete/Delete.js
  app/frontend/src/pages/Post/Post.css
  app/frontend/src/pages/Post/Post.js
  app/frontend/src/redux/deleteSlice.js
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Frontend

#488 [Frontend] Integrating Chatbot on frontend.
  app/frontend/package.json
  app/frontend/src/App.js
  app/frontend/yarn.lock
Labels: Prio: Medium, Status: Need Review, Team: Frontend

#500 [Frontend] Delete account feature
  app/frontend/src/pages/Profile/Profile.js
  app/frontend/src/redux/profileSlice.js
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Frontend

#502 [Mobile] Text annotation implementation has been completed.
  app/mobile/bounswe5_mobile/README.md
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/CustomSelectionControls.dart
  app/mobile/bounswe5_mobile/lib/models/textAnnotation.dart
  app/mobile/bounswe5_mobile/lib/screens/createTextAnnotation.dart
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
  app/mobile/bounswe5_mobile/lib/screens/viewTextAnnotations.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticleItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/ForumPostItem.dart
  app/mobile/bounswe5_mobile/lib/widgets/TextAnnotationItem.dart
  app/mobile/bounswe5_mobile/pubspec.lock
  app/mobile/bounswe5_mobile/pubspec.yaml
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#496 [Mobile] Redirecting to Doctor's Profile Page
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/screens/doctorProfile.dart
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
  app/mobile/bounswe5_mobile/lib/widgets/DoctorProfileWidget.dart
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Mobile

#505 [Frontend] Article deletion and bug fixing
  app/frontend/src/components/Delete/Delete.js
  app/frontend/src/pages/Article/Article.css
  app/frontend/src/pages/Article/Article.js
  app/frontend/src/pages/CreateArticle/CreateArticle.js
  app/frontend/src/pages/CreatePost/CreatePost.js
  app/frontend/src/pages/Post/Post.js
  app/frontend/src/pages/Profile/Profile.js
  app/frontend/src/redux/deleteSlice.js
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Frontend

#506 [Mobile] Categories screen have been created
  app/mobile/bounswe5_mobile/lib/screens/categories.dart
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#507 [Mobile] App Logos have been embedded in the app
  app/mobile/bounswe5_mobile/android/app/build.gradle
  app/mobile/bounswe5_mobile/android/app/src/main/AndroidManifest.xml
  app/mobile/bounswe5_mobile/lib/assets/icon/hippo-yazi.png
  app/mobile/bounswe5_mobile/lib/assets/icon/icon-round.png
  app/mobile/bounswe5_mobile/lib/assets/icon/icon.png
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/lib/widgets/MyAppBar.dart
  app/mobile/bounswe5_mobile/pubspec.lock
  app/mobile/bounswe5_mobile/pubspec.yaml
Labels: Prio: Low, Type: Enhancement, Status: Need Review, Team: Mobile

#508 [Mobile] Adding categories to MyDrawer
  app/mobile/bounswe5_mobile/lib/widgets/MyDrawer.dart
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#503 [Backend] Report Endpoint Implementation
  app/backend/forum/migrations/0013_report.py
  app/backend/forum/models.py
  app/backend/forum/tests.py
  app/backend/forum/urls.py
  app/backend/forum/views.py
Labels: Prio: Medium, Type: Enhancement, Team: Backend

#513 [Frontend] Add BotId as param while initializing.
  app/frontend/src/App.js
Labels: Type: Bug, Prio: High, Status: Need Review, Team: Frontend

#514 [Frontend] Popup component testing
  app/frontend/.babelrc
  app/frontend/jest.config.js
  app/frontend/src/components/Popup/Popup.js
  app/frontend/src/tests/popup.test.js
Labels: Prio: Medium, Type: Testing, Status: Need Review, Team: Frontend

#510 Mobile/feature/chatbot implementation #465
  app/mobile/bounswe5_mobile/android/app/src/debug/AndroidManifest.xml
  app/mobile/bounswe5_mobile/android/app/src/main/AndroidManifest.xml
  app/mobile/bounswe5_mobile/lib/screens/chatbotScreen.dart
  app/mobile/bounswe5_mobile/lib/screens/home.dart
  app/mobile/bounswe5_mobile/pubspec.yaml
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#517 [Mobile] Category follow functionality has been implemented
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/mockData.dart
  app/mobile/bounswe5_mobile/lib/models/category.dart
  app/mobile/bounswe5_mobile/lib/models/user.dart
  app/mobile/bounswe5_mobile/lib/screens/categories.dart
Labels: Prio: High, Type: Enhancement, Status: Need Review, Team: Mobile

#519 [Mobile] Comment deletion functionality implemented #456
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
  app/mobile/bounswe5_mobile/pubspec.lock
Labels: Prio: Low, Type: Enhancement, Status: Accepted, Team: Mobile

#523 [Backend] Report unit tests
  app/backend/forum/tests.py
Labels: Prio: Medium, Type: Enhancement, Status: Need Review, Team: Backend

#526 [Mobile] Bug fixed in home screen.
  app/mobile/bounswe5_mobile/lib/screens/home.dart
Labels: Type: Bug, Prio: High, Status: Need Review, Team: Mobile

#525 [Mobile] Text annotation deletion has been implemented
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/models/textAnnotation.dart
  app/mobile/bounswe5_mobile/lib/screens/createTextAnnotation.dart
  app/mobile/bounswe5_mobile/lib/screens/viewTextAnnotations.dart
  app/mobile/bounswe5_mobile/lib/widgets/TextAnnotationItem.dart
Labels: Prio: Low, Type: Enhancement, Status: Need Review, Team: Mobile

#527 [Mobile] Article page redirection bug has been fixed
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
Labels: Type: Bug, Prio: Low, Status: Need Review, Team: Mobile

#530 [Mobile] Labels shown in the post/article viewing page
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/screens/viewArticle.dart
  app/mobile/bounswe5_mobile/lib/screens/viewPost.dart
Labels: Type: Bug, Prio: Low, Type: Enhancement, Status: Need Review, Team: Mobile

#532 [Mobile] Bug Fix in Chatbot
  app/mobile/bounswe5_mobile/lib/screens/chatbotScreen.dart
Labels: Type: Bug, Prio: High, Status: Need Review, Team: Mobile

#534 [Mobile] Overview screen bugs have been solved
  app/mobile/bounswe5_mobile/lib/API_service.dart
  app/mobile/bounswe5_mobile/lib/screens/articleSearchOverview.dart
  app/mobile/bounswe5_mobile/lib/screens/postSearchOverview.dart
  app/mobile/bounswe5_mobile/lib/screens/userPostOverviewScreen.dart
  app/mobile/bounswe5_mobile/lib/widgets/ArticleItem.dart
Labels: Type: Bug, Prio: High, Status: Need Review, Team: Mobile

#535 [Frontend] Doctor profiles url fix
  app/frontend/src/App.js
Labels: Type: Bug, Status: Need Review, Prio: Urgent, Team: Frontend
